<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Url" value="https://www.google.co.in/" />
    <add key="Browser" value="IE" />    
    <!--Chrome, Safari, IE, Microsoft Edge, Firefox -->
    <add key="ExtentReportsDir" value="ExtentReports" />
    <add key="TakeFullScreenshot" value="False" />

    <!--Excel Start-->
    <add key="ExcelFileName" value="Login.xlsx" />
    <!--Excel End-->

    <!--Email Details Start-->
    <add key="EmailTemplate" value="" />
    <add key="Receivers" value="" />
    <add key="Sender" value="" />
    <add key="Host" value="" />
    <add key="Password" value="" />
    <add key="Port" value="" />
    <!--Email Details End-->

    <!--JIRA Details Start-->
    <add key="Project" value="TES" />
    <!--JIRA Details End-->

    <!--BrowserStack - Start-->
    <add key="UseBrowserStack" value="false" />
    <add key="user" value="" />
    <add key="key" value="" />
    <add key="server" value="hub-cloud.browserstack.com" />
    <!--BrowserStack - End-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
